a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
#gomb{
    height: 45px;
    width: 80px;
    border-radius: 80px;
    cursor: pointer;
}
#gomb3{
    height: 45px;
    width: 105px;
    border-radius: 80px;
    cursor: pointer;
}
#gomb:hover,#gomb3:hover{
    background-color: rgb(124, 168, 206);
}
#tablazat table {
    border: 35px solid white;
    background-color: white;
    margin: auto;
    margin-top: 15%;
    
}
#tablazat td{
    background-color: white;  
}
#tablazat tr{
    background-color: white;
}
#szoveg{
    color: black;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    
}
#szoveg::before{
  content : "";
  position: absolute;
  left: 2%;
  bottom  : 0;
  height  : 1px;
  width   : 100%;  
  border-bottom:1px solid black;
}
#flexes{
    display: flex;
    justify-content: space-between;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
#lejjebb{
    margin-top: 6%;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.animacio{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
   justify-content: center;
   align-items: center;
   display: flex;
   background-color: black;
}
.forgas{
    height: 45px;
    vertical-align: top;
    width: 45px;
    display: inline-block; 
    top: 50%;
    border: 4px solid white;
    animation: forgas 2s  infinite ease;
}

.kitoltes{
    animation: kitoltes 2s infinite ease-in;
    background-color: white;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.valtakozo{
    animation: valtakozo infinite 25s ease-in-out;
    background-size: cover;
}
@keyframes forgas{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(180deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(360deg);}
    100%{transform: rotate(360deg);}
}

@keyframes kitoltes {
    0%{height: 0%;}
    25%{height: 0%;}
    50%{height: 100%;}
    75%{height: 100%;}
    100%{height: 0%;}
    
}
@keyframes valtakozo {
    0%{background-image: url('wallpaper-1920x1080-1.jpg');}
    25%{background-image: url('wallpaper-1920x1080-1.jpg');}
    50%{background-image: url('hatter.jpg');}
    75%{background-image: url('hatter.jpg');}
    100%{background-image: url('wp6940885.jpg');}
}
