a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
#nev,#suli{
    text-align: center;
}
#gomb{
    display: block;
    margin: auto;
    height: 45px;
    width: 80px;
    float: left;
    border-radius: 80px;
    cursor: pointer;
}
#gomb3{
    display: block;
    margin: auto;
    height: 45px;
    width: 80px;
    position:fixed;
    left: 700px;
    border-radius: 80px;
    cursor: pointer;
}
#gomb2{
    display: block;
    margin: auto;
    height: 45px;
    width: 80px;
    float: right;
    border-radius: 80px;
    cursor: pointer;
}
#gomb:hover,#gomb2:hover,#gomb3:hover{
    background-color: rgb(124, 168, 206);
}
#tablazat table {
    border: 30px solid white;
    border-radius: 2%;
    background-color: white;
    margin: auto;
    margin-top: 15%;
}
#tablazat td{
    background-color: white;  
}
#tablazat tr{
    background-color: white;
}
#hatter{ 
    background-color: rgb(84, 124, 84);
}
#szoveg{
    text-align: center;
    position: relative;
    
}
#szoveg::before{
  content : "";
  position: absolute;
  left: 2%;
  bottom  : 0;
  height  : 1px;
  width   : 100%;  
  border-bottom:1px solid gray;
}
