a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
#nev,#suli{
    text-align: center;
}
#gomb{
    display: block;
    margin: auto;
    height: 45px;
    width: 80px;
    position:fixed;
    left: 585px;
    border-radius: 80px;
    cursor: pointer;
    
     
}
#gomb3{
    display: block;
    margin: auto;
    height: 45px;
    width: 80px;
    position:fixed;
    left: 700px;
    border-radius: 80px;
    cursor: pointer;
    
     
}
#gomb2{
    display: block;
    margin: auto;
    height: 45px;
    width: 80px;
    position:relative;
    left:140px;
    border-radius: 80px;
    cursor: pointer;
    
}
#gomb:hover,#gomb2:hover,#gomb3:hover{
    width: 100px;
    height: 60px;
    background-color: aliceblue;
    
}